{
    "development": {
        "apiURL": "mahisdev.health.gov.mw",
        "apiPort": "443",
        "apiProtocol": "https",
        "websocketProtocol": "wss",
        "mahisReportURL": "https://mahisreports.health.gov.mw/home?route=mahisdev&"
    },
    "test": {
        "apiURL": "mahistest.health.gov.mw",
        "apiPort": "443",
        "apiProtocol": "https",
        "websocketProtocol": "wss",
        "mahisReportURL": "https://mahisreports.health.gov.mw/home?route=mahistest&"
    },
    "uat": {
        "apiURL": "mahisuat.health.gov.mw",
        "apiPort": "443",
        "apiProtocol": "https",
        "websocketProtocol": "wss",
        "mahisReportURL": "https://mahisreports.health.gov.mw/home?route=mahisuat&"
    },
    "production": {
        "apiURL": "mahis.health.gov.mw",
        "apiPort": "443",
        "apiProtocol": "https",
        "websocketProtocol": "wss",
        "mahisReportURL": "https://mahis.health.gov.mw/home?route=mahis&"
    }
}
